.title {
    display: flex;
    overflow: hidden;
    color: #aa8f7b;
    font-family: 'Montserrat', sans-serif;
}

.title span {
    display: block;
    transform: translate(0, 105%);
    transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
}

.title.-visible span {
    transform: translate(0, 0);
}

.title span:nth-child(2) {
    transition-delay: 0.06s;
}

.title span:nth-child(3) {
    transition-delay: 0.12s;
}

.title span:nth-child(4) {
    transition-delay: 0.18s;
}

.title span:nth-child(5) {
    transition-delay: 0.24s;
}

.title span:nth-child(6) {
    transition-delay: 0.30s;
}

.title span:nth-child(7) {
    transition-delay: 0.36s;
}

.title span:nth-child(8) {
    transition-delay: 0.42s;
}

body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    margin: 0;
}