#bg {
    position: fixed;
    background: cover;
    background: linear-gradient(145deg, #000000 0%, #ffffff 100%);
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
    z-index: -2;
}